:root {
    --main-row-color: #006CFA;
    --inside-row-color: #00E265;
}
[class*="col-"] {
    border: 1px solid white;
    height: 32px;
}
html {
    font-size: 100%;
    color: white;
}
span {
    font-size: 0.8em;
}
section {
    padding-bottom: 0.7em;
}

.row > [class*="col-"]  {
    background-color: var(--main-row-color);
    display: flex;
    align-items: center;
    justify-content: center;
}