:root {
    --main-row-color: #006CFA;
    --inside-row-color: #00E265;
    --row-height: 40px;
}
.row {
    height: var(--row-height);
}
[class*="align-"] {
    height: 50px;
}
.rm-brd-btm {
    border-bottom: 0;
}
.rm-pdd-btm {
    padding-bottom: 0;
}
.height-2x {
    height: calc(var(--row-height) *2);
}
section > .row > [class*="col-"],
div > .row > [class*="col-"] {
    border: 1px solid white;
}
html {
    font-size: 100%;
    color: white;
}
h2,h3 {
    color: black;
}
span {
    font-size: 0.8em;
}
section {
    padding-bottom: 0.7em;
}
.hgt-60px {
    height: 60px;
}
.row > [class*="col-"]  {
    background-color: var(--main-row-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* container interni */
.row .container {
    justify-content: center;
    width: 95%;
}
.row .row {
    align-items: center;
}
.row .row > [class*="col-"] {
    background-color: var(--inside-row-color);
    color: white;
    border: 1px solid var(--main-row-color);
    height: 70%;
}
